@font-face {
  font-family: 'digitalnum';
  src:
    local('O'),
    url('../fonts/LCDNOVA.woff') format('woff'),
    url('../fonts/LCDNOVA.TTF'),
    url('../fonts/LCDNOVA.svg') format('svg');
}
@font-face {
  font-family:"digitalnum";
  src: url('../fonts/LCDNOVA.TTF');
}

@import url('https://allfont.ru/allfont.css?fonts=ds-crystal');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  background: #000000;
}
*{
  box-sizing: border-box;
}
h1 {
  font-family: "digitalnum";
}
h2 {
  font-family: "digitalnum";
}
h3 {
  font-family: "digitalnum";

}
@keyframes lin {
  from { text-indent: -40%}
  to { text-indent: -100%}
}
@keyframes lin2 {
  from { text-indent: -100%}
  to { text-indent: -40%}
}
@keyframes sec {
  0%{ top: -300%;}
  25%{ top: %;}
  50%{ top: 0%}
  75%{ top: -30%;}
  90%{ top: 0%;}
  100%{ top: -300%;}
}
@keyframes sec2 {
  0%{ top: -10%;}
  25%{ top: -60%;}
  50%{ top: -200%;}
  75%{ top: -30%;}
  100%{ top: -10%;}
}
.text2:hover {
  color: #B60000;
  background-color: #ffffff;
}
.text1:hover {
  color: #B60000;
  background-color: #ffffff;
}
.text3:hover {
  color: #B60000;
  background-color: #ffffff;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.buby:hover {
  animation-play-state: paused;
}
.padenie {
  width: 174px;
  height: 174px;
  position: absolute;
  top: -100px;
  animation: padenie 9s normal infinite ;
}
.monetka1 {
  position: absolute;
  left: 60px;
  top: 50px;
  animation: 3s linear infinite running rot;
}
.monetka2 {
  position: absolute;
  left: 200px;
  top: 200px;
  animation: 3s linear infinite running rot;
}
.monetka3 {
  position: absolute;
  left: 300px;
  top: 150px;
  animation: 3s linear infinite running rot;
}
.monetka4 {
  position: absolute;
  left: 400px;
  top: 100px;
  animation: 3s linear infinite running rot;
}
.monetka5 {
  position: absolute;
  left: 900px;
  top: 200px;
  animation: 3s linear infinite running rot;
}
.monetka6 {
  position: absolute;
  left: 230px;
  top: 185px;
  animation: 3s linear infinite running rot;
}
.monetka7 {
  position: absolute;
  left: 680px;
  top: 300px;
  animation: 3s linear infinite running rot;
}
.monetka8 {
  position: absolute;
  left: 550px;
  top: 180px;
  animation: 3s linear infinite running rot;
}
.monetka9 {
  position: absolute;
  left: px;
  top: px;
  animation: 3s linear infinite running rot;
}
.monetka10 {
  position: absolute;
  left: 820px;
  top: 300px;
  animation: 3s linear infinite running rot;
}
.monetka11 {
  position: absolute;
  left: 650px;
  top: 400px;
  animation: 3s linear infinite running rot;
}
.monetka12 {
  position: absolute;
  left: 720px;
  top: 300px;
  animation: 5s linear infinite running rot;
}
.but:hover {
  background-position: 170.8px 0px;
}
@keyframes padenie {
  0%{ top: -600px;}
  50%{ top: 300px;}
  100%{ top: 1000px;}
}
@media (min-width:1367px) and (max-width:1440px) {
  .slots2 {
    display: none;
  }
  .slots3 {
    display: none;
  }
  .slots4 {
    display: none;
  }
  .slots5 {
    display: none;
  }
  .slots6 {
    display: none;
  }
  .bandit1024 {
    display: none;
  }
.container {
  display: block;
}
.bandit1920 {
  display: none;
}
.bandit1366 {
  display: none;
}
.bandit768 {
  display: none;
}
.bandit414 {
  display: none;
}
.stars{
  width: 790px;
  height: 228px;
  position: relative;
  top: -1435px;
  left: 325px;
  display: flex;
  justify-content: center;
  background: url('../images/stars.svg');
  background-size: auto 100%;
  animation: stars .5s steps(1) infinite;
  animation-play-state: running;
}
@keyframes stars {
    50%{background-position: 787.5px ;}
    100%{background-position: 0px ;}
  }
.container{
  background: #000000;
  height: 339px;
  width: 1440px;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  margin-top: px;
  margin-left: px;
  border-radius: 0px;
}
.p{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  animation: lin 5s alternate-reverse infinite;
}
.p1{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  animation: lin2 5s alternate-reverse infinite;
}
.row{
  width: 1440px;
  height: 339px;
  text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
  vertical-align: middle;
  padding: absolute;
  top: 100px;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
}
/*@keyframes lin {
  from { text-indent: -40%}
  to { text-indent: -100%}
}
@keyframes lin2 {
  from { text-indent: -100%}
  to { text-indent: -40%}
}*/
.bandit{
  display: block;
  position: absolute;
  width: 1389px;
  height: 1560px;
  top: -30px;
  margin-left: 26px;
}
.slots{
  position: relative;
}
.clock{
  width: 100px;
  height: 1240px;
  position: relative;
  top: 38px;
  margin-top: -100px;
  margin-left: 28px;
  border-color: 0px;
}
.cl-el{
  width: 234%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
  position: relative;
}

.mn{
  width: 100%;
  line-height: 100px;
  position: relative;
  top: 0;
}
.sec-1{
  animation: sec 6s normal infinite;
}
.clock2{
  width: 240px;
  height: 1241px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 257px;
  border-color: 10px;
}
.sec-2{
  animation: sec2 6s normal infinite;
}
.cl-el2{
  width: 240px;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}
.clock3{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 485px;
  border-color: 10px;
}
.cl-el3{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}

.clock4{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 710px;
  border-color: 10px;
}

.cl-el4{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}

.clock5{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 938px;
  border-color: 10px;
}

.cl-el5{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}
.clock6{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 1167px;
  border-color: 10px;
}
.cl-el6{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}
.block1 {

}
.text1 {
  position: relative;
  top: -130px;
  left: 26px;
  width: 512px;
  height: 87px;
  font-size: 60px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;
  padding-top: 15px;
  color: #FBCF32;
}

.text2 {
  position: relative;
  top: -217px;
  left: 1095px;
  width: 318px;
  height: 87px;
  font-size: 60px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;
  padding-top: 15px;
  color: #FBCF32;
}
.text3 {
  position: relative;
  top: -181px;
  left: 1225px;
  width: 189px;
  height: 80px;
  font-size: 60px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;
  padding-top: 13px;
  color: #FBCF32;
}
.masti {
  position: absolute;
  top: 1570px;
  margin-left: 630px;
  display: flex;
  justify-content: space-between;
  width: 375px;
}
.masti2 {
  position: absolute;
  top: 1710px;
  margin-left: 630px;
  display: flex;
  justify-content: space-between;
  width: 375px;
}
.buby {
  animation: 3s linear infinite running rot;
  width: 130px;
}
.but {
  position: absolute;
  margin-left: 180px;
  top: 1680px;
  background: url("../images/button.svg");
  display: flex;
  width: 171px;
  height: 171px;
}
.buby:hover .but {
  animation-play-state: paused;
}
.rectangle {
  position: absolute;
  width: 1327px;
  height: 127px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 106px;
  left: 63px;
  top: 1880px;
  overflow: hidden;
}
.monetki1 {
  width: 1200px;
  height: 712px;
  overflow: hidden;
  position: relative;
  left: 200px;
  top: -76px;
}
.footer {
  background-color: #000;
  position: absolute;
  top: 2400px;
  left: px;
  color: #FBCF32;
  width: 1400px;
  height: 184px;
  margin-top: 24px;
  padding-top: 120px;
  padding-left: 23px;
  display: flex;
  justify-content: space-between;

}
.foot1 {
  font-size: 30px;
}
.foot2 {
  font-size: 76px;
  position: relative;
  top: -80px;
}
}
@media (min-width:1441px) and (max-width:1920px) {
  .slots3 {
    display: none;
  }
  .slots4 {
    display: none;
  }
  .slots5 {
    display: none;
  }
  .slots6 {
    display: none;
  }
  .bandit {
    display: none;
  }
  .bandit1024 {
    display: none;
  }
  .bandit1366 {
    display: none;
  }
  .bandit414 {
    display: none;
  }
  .bandit1920{
    display: block;
    position: absolute;
    top: -175px;
    margin-left: 26px;
  }
  .bandit768 {
    display: none;
  }
  .stars{
    width: 912.53px;
    height: 263.64px;
    position: absolute;
    left: 501.58px;
    top: 58.37px;
    display: flex;
    justify-content: center;
    background: url('../images/stars1920.svg');
    background-size: auto 100%;
    animation: stars .5s steps(1) infinite;
    animation-play-state: running;
  }
  @keyframes stars {
    50%{background-position: 912px ;}
    100%{background-position: 0px ;}
  }
  .container{
    background: #000000;
    height: 339px;
    width: 1920px;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    margin-top: px;
    margin-left: px;
    border-radius: 0px;
  }
  .p{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin 5s alternate-reverse infinite;
  }
  .p1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin2 5s alternate-reverse infinite;
  }
  .row{
    width: 1920px;
    height: 339px;
    text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
    vertical-align: middle;
    padding: absolute;
    top: 100px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
  }
  .slots2 {
    display: block;
  }
  .clock{
    width: 267px;
    height: 1496px;
    position: absolute;
    margin-top: -10px;
    margin-left: 37px;
    border-color: 0px;
    overflow: hidden;
  }
  .cl-el{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
    position: relative;
  }

  .mn{
    width: 100%;
    line-height: 100px;
    position: relative;
    top: 0;
  }
  .sec-1{
    animation: sec 6s normal infinite;
  }
  .clock2{
    width: 267px;
    height: 1502px;
    position: absolute;
    top: 210px;
    margin-top: 115px;
    margin-left: 310px;
    border-color: 10px;
  }
  .sec-2{
    animation: sec2 6s normal infinite;
  }
  .cl-el2{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock3{
    width: 267px;
    height: 1502px;
    position: absolute;
    top: 210px;
    margin-top: 115px;
    margin-left: 562px;
    border-color: 10px;
  }
  .cl-el3{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock4{
    width: 267px;
    height: 1502px;
    position: absolute;
    top: 210px;
    margin-top: 115px;
    margin-left: 830px;
    border-color: 10px;
  }

  .cl-el4{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock5{
    width: 267px;
    height: 1502px;
    position: absolute;
    top: 210px;
    margin-top: 115px;
    margin-left: 1089px;
    border-color: 10px;
  }

  .cl-el5{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .clock6{
    width: 267px;
    height: 1502px;
    position: absolute;
    top: 210px;
    margin-top: 115px;
    margin-left: 1357px;
    border-color: 10px;
  }
  .cl-el6{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .clock7{
    width: 267px;
    height: 1502px;
    position: absolute;
    top: 210px;
    margin-top: 115px;
    margin-left: 1625px;
    border-color: 10px;
  }
  .cl-el7{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .block1 {

  }
  .text1 {
    position: absolute;
    width: 582.21px;
    height: 98.93px;
    font-size: 69px;
    left: 26px;
    top: 1890px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 19px;
    color: #FBCF32;
  }

  .text2 {
    position: absolute;
    width: 419.6px;
    height: 98.93px;
    left: 1467px;
    top: 1890px;
    font-size: 80px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 13px;
    color: #FBCF32;
  }
  .text3 {
    position: absolute;
    width: 285.42px;
    height: 90.97px;
    left: 1601.18px;
    top: 2027.59px;
    font-size: 85px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 9px;
    color: #FBCF32;
  }
  .masti {
    position: absolute;
    left: 800px;
    top: 1878px;
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  .masti2 {
    position: absolute;
    left: 800px;
    top: 2048px;
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  .buby {
    animation: 3s linear infinite running rot;
    width: 155px;
  }
  .rectangle {
    position: absolute;
    width: 1648px;
    height: 127px;
    left: 140px;
    top: 2268.08px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 106px;
    overflow: hidden;
  }
  .monetki1 {
    width: 1200px;
    height: 800px;
    overflow: hidden;
    position: relative;
    left: 350px;
    top: 1800px;
  }
  .footer {
    background-color: #000;
    position: relative;
    top: 2600px;
    left: px;
    color: #FBCF32;
    width: 1900px;
    height: 184px;
    margin-top: 24px;
    padding-top: 120px;
    padding-left: 23px;
    display: flex;
    justify-content: space-between;

  }
  .foot1 {
    font-size: 30px;
  }
  .foot2 {
    font-size: 76px;
    position: relative;
    top: -80px;
  }

}
@media (min-width:1025px) and (max-width:1366px) {
  .bandit {
    display: none;
  }
  .bandit1920 {
    display: none;
  }
  .bandit1024 {
    display: none;
  }
  .bandit414 {
    display: none;
  }
  .bandit1366 {
    display: block;
    position: absolute;
    left: 37px;
    top: -110px;
  }
  .bandit768 {
    display: none;
  }
  .slots {
    display: none;
  }
  .slots2 {
    display: none;
  }
  .slots5 {
    display: none;
  }
  .slots6 {
    display: none;
  }
  .container{
    background: #000000;
    height: 339px;
    width: 1366px;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    margin-top: -20px;
    margin-left: px;
    border-radius: 0px;
  }
  .p{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin 5s alternate-reverse infinite;
  }
  .p1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin2 5s alternate-reverse infinite;
  }
  .row{
    width: 1366px;
    height: 339px;
    text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
    vertical-align: middle;
    padding: absolute;
    top: 100px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
  }
  .stars{
    width: 882.7px;
    height: 255.03px;
    position: absolute;
    left: 254.23px;
    top: 39.41px;
    display: flex;
    justify-content: center;
    background: url('../images/stars1366.svg');
    background-size: auto 100%;
    animation: stars .5s steps(1) infinite;
    animation-play-state: running;
  }
  @keyframes stars {
    50%{background-position: 880px ;}
    100%{background-position: 0px ;}
  }
  .slots3 {
    display: block;
  }
  .clock{
    width: 252px;
    height: 1430px;
    position: absolute;
    margin-top: -22px;
    margin-left: 43px;
    border-color: 0px;
    overflow: hidden;
  }
  .cl-el{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
    position: relative;
  }

  .mn{
    width: 100%;
    line-height: 100px;
    position: relative;
    top: 0;
  }
  .sec-1{
    animation: sec 6s normal infinite;
  }
  .clock2{
    width: 252px;
    height: 1434px;
    position: absolute;
    top: 210px;
    margin-top: 75px;
    margin-left: 298px;
    border-color: 10px;
  }
  .sec-2{
    animation: sec2 6s normal infinite;
  }
  .cl-el2{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock3{
    width: 252px;
    height: 1434px;
    position: absolute;
    top: 210px;
    margin-top: 80px;
    margin-left: 540px;
    border-color: 10px;
  }
  .cl-el3{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock4{
    width: 200px;
    height: 1434px;
    position: absolute;
    top: 210px;
    margin-top: 80px;
    margin-left: 788px;
    border-color: 10px;
  }

  .cl-el4{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .clock5{
    width: 200px;
    height: 1430px;
    position: absolute;
    top: 210px;
    margin-top: 85px;
    margin-left: 1048px;
    border-color: 10px;
  }

  .cl-el5{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .text1 {
    position: absolute;
    width: 512px;
    height: 87px;
    font-size: 60px;
    left: 37px;
    top: 1792px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 15px;
    color: #FBCF32;
  }

  .text2 {
    position: absolute;
    width: 317px;
    height: 87px;
    left: 1001px;
    top: 1793px;
    font-size: 60px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 13px;
    color: #FBCF32;
  }
  .text3 {
    position: absolute;
    width: 179px;
    height: 80px;
    left: 1137px;
    top: 1924px;
    font-size: 60px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 13px;
    color: #FBCF32;
  }
  .masti {
    position: absolute;
    left: 625px;
    top: 1790px;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  .masti2 {
    position: absolute;
    left: 625px;
    top: 1930px;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  .buby {
    animation: 3s linear infinite running rot;
    width: 120px;
  }
  .but {
    position: absolute;
    margin-left: 180px;
    top: 1900px;
    background: url("../images/button.svg");
    display: flex;
    width: 171px;
    height: 171px;
  }
  .rectangle {
    position: absolute;
    width: 1270px;
    height: 127px;
    left: 50px;
    top: 2145px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 106px;
    overflow: hidden;
  }
  .monetki1 {
    width: 1200px;
    height: 630px;
    overflow: hidden;
    position: relative;
    left: 150px;
    top: 1830px;
  }
  .footer {
    background-color: #000;
    position: absolute;
    top: 2600px;
    left: px;
    color: #FBCF32;
    width: 1310px;
    height: 184px;
    padding-top: 120px;
    padding-left: 23px;
    display: flex;
    justify-content: space-between;

  }
  .foot1 {
    font-size: 30px;
  }
  .foot2 {
    font-size: 76px;
    position: relative;
    top: -80px;
  }
}
@media (min-width:769px) and (max-width:1024px) {
  .bandit {
    display: none;
  }
  .bandit414 {
    display: none;
  }
  .bandit1920 {
    display: none;
  }
  .bandit1366 {
    display: none;
  }
  .bandit1024 {
    display: block;
    position: absolute;
    left: -50px;
    top: -210px;
  }
  .bandit768 {
    display: none;
  }
  .slots {
    display: none;
  }
  .slots2 {
    display: none;
  }
  .slots3 {
    display: none;
  }
  .slots5 {
    display: none;
  }
  .slots6 {
    display: none;
  }
  .masti {
    display: none;
  }
  .masti2 {
    display: none;
  }
  .container{
    background: #000000;
    height: 339px;
    width: 1024px;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    margin-top: -140px;
    margin-left: px;
    border-radius: 0px;
  }
  .p{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin 5s alternate-reverse infinite;
  }
  .p1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin2 5s alternate-reverse infinite;
  }
  .row{
    width: 1024px;
    height: 339px;
    text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
    vertical-align: middle;
    padding: absolute;
    top: 100px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
  }
  .stars{
    width: 513.84px;
    height: 148.46px;
    position: absolute;
    left: 254.23px;
    top: 34px;
    display: flex;
    justify-content: center;
    background: url('../images/stars1024.svg');
    background-size: auto 100%;
    animation: stars .5s steps(1) infinite;
    animation-play-state: running;
  }
  @keyframes stars {
    50%{background-position: 513px ;}
    100%{background-position: 0px ;}
  }
  .slots4 {
    display: block;
  }
  .clock{
    width: 260px;
    height: 1359px;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    border-color: 0px;
    overflow: hidden;
  }
  .cl-el{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
    position: relative;
  }

  .mn{
    width: 100%;
    line-height: 100px;
    position: relative;
    top: 0;
  }
  .sec-1{
    animation: sec 6s normal infinite;
  }
  .clock2{
    width: 260px;
    height: 1359px;
    position: absolute;
    top: 210px;
    margin-top: -20px;
    margin-left: 250px;
    border-color: 10px;
  }
  .sec-2{
    animation: sec2 6s normal infinite;
  }
  .cl-el2{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock3{
    width: 240px;
    height: 1359px;
    position: absolute;
    top: 210px;
    margin-top: -20px;
    margin-left: 490px;
    border-color: 10px;
  }
  .cl-el3{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .clock4{
    width: 240px;
    height: 1359px;
    position: absolute;
    top: 210px;
    margin-top: -20px;
    margin-left: 720px;
    border-color: 10px;
  }

  .cl-el4{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .text1 {
    position: absolute;
    width: 582.21px;
    height: 98.93px;
    left: 27px;
    top: 1630px;
    font-size: 69px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 15px;
    color: #FBCF32;
  }
  .text2 {
    position: absolute;
    width: 419.6px;
    height: 98.93px;
    left: 579px;
    top: 1765px;
    font-size: 80px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 13px;
    color: #FBCF32;
  }
  .text3 {
    position: absolute;
    width: 285px;
    height: 99px;
    left: 714px;
    top: 1630px;
    font-size: 85px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 13px;
    color: #FBCF32;
  }
  .but {
    position: absolute;
    left: 188px;
    top: 1750px;
    background: url("../images/button.svg");
    display: flex;
    width: 171px;
    height: 171px;
  }
  .masti {
    position: absolute;
    left: 325px;
    top: 1914px;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  .masti2 {
    position: absolute;
    left: 325px;
    top: 2084px;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  .buby {
    animation: 3s linear infinite running rot;
    width: 150px;
  }
  .rectangle {
    position: absolute;
    width: 943px;
    height: 127px;
    left: 40px;
    top: 2264px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 106px;
    overflow: hidden;
  }
  .monetki1 {
    width: 900px;
    height: 505px;
    overflow: hidden;
    position: relative;
    left: 60px;
    top: 2070px;
  }
  .monetka1 {
    position: absolute;
    left: 60px;
    top: 50px;
    animation: 3s linear infinite running rot;
  }
  .monetka2 {
    position: absolute;
    left: 200px;
    top: 200px;
    animation: 3s linear infinite running rot;
  }
  .monetka3 {
    position: absolute;
    left: 300px;
    top: 150px;
    animation: 3s linear infinite running rot;
  }
  .monetka4 {
    position: absolute;
    left: 400px;
    top: 100px;
    animation: 3s linear infinite running rot;
  }
  .monetka5 {
    position: absolute;
    left: 450px;
    top: 200px;
    animation: 3s linear infinite running rot;
  }
  .monetka6 {
    position: absolute;
    left: 230px;
    top: 185px;
    animation: 3s linear infinite running rot;
  }
  .monetka7 {
    position: absolute;
    left: 680px;
    top: 300px;
    animation: 3s linear infinite running rot;
  }
  .monetka8 {
    position: absolute;
    left: 550px;
    top: 180px;
    animation: 3s linear infinite running rot;
  }
  .monetka9 {
    position: absolute;
    left: px;
    top: px;
    animation: 3s linear infinite running rot;
  }
  .monetka10 {
    position: absolute;
    left: 600px;
    top: 300px;
    animation: 3s linear infinite running rot;
  }
  .monetka11 {
    position: absolute;
    left: 650px;
    top: 400px;
    animation: 3s linear infinite running rot;
  }
  .monetka12 {
    position: absolute;
    left: 720px;
    top: 300px;
    animation: 5s linear infinite running rot;
  }
  .footer {
    background-color: #000;
    position: absolute;
    top: 2600px;
    left: px;
    color: #FBCF32;
    width: 1010px;
    height: 184px;
    padding-top: 120px;
    padding-left: 23px;
    display: flex;
    justify-content: space-between;
  }
  .foot1 {
    font-size: 30px;
  }
  .foot2 {
    font-size: 76px;
    position: relative;
    top: -80px;
  }
}
@media (min-width:415px) and (max-width:768px) {
  .bandit {
    display: none;
  }
  .bandit414 {
    display: none;
  }
  .bandit1920 {
    display: none;
  }
  .bandit1366 {
    display: none;
  }
  .bandit1024 {
    display: none;
  }
  .slots {
    display: none;
  }
  .slots2 {
    display: none;
  }
  .slots3 {
    display: none;
  }
  .slots4 {
    display: none;
  }
  .slots6 {
    display: none;
  }
  .masti {
    display: none;
  }
  .masti2 {
    display: none;
  }
  .bandit768 {
    display: block;
    position: absolute;
    left: -60px;
    top: -80px;
  }
  .container{
    background: #000000;
    height: 339px;
    width: 768px;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    margin-top: -140px;
    margin-left: px;
    border-radius: 0px;
  }
  .p{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin 5s alternate-reverse infinite;
  }
  .p1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation: lin2 5s alternate-reverse infinite;
  }
  .row{
    width: 768px;
    height: 339px;
    text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
    vertical-align: middle;
    padding: absolute;
    top: 100px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
  }
  .stars{
    width: 453.52px;
    height: 131.03px;
    position: relative;
    left: 160px;
    top: -160px;
    display: flex;
    justify-content: center;
    background: url('../images/stars768.svg');
    background-size: auto 100%;
    animation: stars .5s steps(1) infinite;
    animation-play-state: running;
  }
  @keyframes stars {
    50%{background-position: 451px ;}
    100%{background-position: 0px ;}
  }
  .slots5 {
    display: block;
  }
  .clock{
    width: 260px;
    height: 2042px;
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
    border-color: 0px;
    overflow: hidden;
  }
  .cl-el{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
    position: relative;
  }

  .mn{
    width: 100%;
    line-height: 100px;
    position: relative;
    top: 0;
  }
  .sec-1{
    animation: sec 6s normal infinite;
  }
  .clock2{
    width: 260px;
    height: 2047px;
    position: absolute;
    top: 210px;
    margin-top: -20px;
    margin-left: 260px;
    border-color: 10px;
  }
  .sec-2{
    animation: sec2 6s normal infinite;
  }
  .cl-el2{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock3{
    width: 240px;
    height: 2047px;
    position: absolute;
    top: 210px;
    margin-top: -20px;
    margin-left: 500px;
    border-color: 10px;
  }
  .cl-el3{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .text1 {
    position: absolute;
    width: 731px;
    height: 99px;
    left: 23px;
    top: 2304px;
    font-size: 80px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 15px;
    color: #FBCF32;
  }
  .text2 {
    position: absolute;
    width: 419.6px;
    height: 98.93px;
    left: 15px;
    top: 2435px;
    font-size: 80px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 13px;
    color: #FBCF32;
  }
  .text3 {
    position: absolute;
    width: 285px;
    height: 99px;
    left: 469px;
    top: 2434px;
    font-size: 85px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    padding-top: 13px;
    color: #FBCF32;
  }
  .but {
    position: absolute;
    left: 55px;
    top: 2653px;
    background: url("../images/button.svg");
    display: flex;
    width: 171px;
    height: 171px;
  }
  .masti {
    position: absolute;
    left: 370px;
    top: 2576px;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  .masti2 {
    position: absolute;
    left: 370px;
    top: 2746px;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  .buby {
    animation: 3s linear infinite running rot;
    width: 150px;
  }
  .rectangle {
    position: absolute;
    width: 666px;
    height: 127px;
    left: 51px;
    top: 2946px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 106px;
    overflow: hidden;
  }
  .monetki1 {
    width: 600px;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 60px;
    top: 2621px;
  }
  .monetka1 {
    position: absolute;
    left: 60px;
    top: 50px;
    animation: 3s linear infinite running rot;
  }
  .monetka2 {
    position: absolute;
    left: 200px;
    top: 200px;
    animation: 3s linear infinite running rot;
  }
  .monetka3 {
    position: absolute;
    left: 300px;
    top: 150px;
    animation: 3s linear infinite running rot;
  }
  .monetka4 {
    position: absolute;
    left: 400px;
    top: 100px;
    animation: 3s linear infinite running rot;
  }
  .monetka5 {
    position: absolute;
    left: 400px;
    top: 200px;
    animation: 3s linear infinite running rot;
  }
  .monetka6 {
    position: absolute;
    left: 250px;
    top: 185px;
    animation: 3s linear infinite running rot;
  }
  .monetka7 {
    position: absolute;
    left: rgb(255, 0, 0);px;
    top: 300px;
    animation: 3s linear infinite running rot;
  }
  .monetka8 {
    position: absolute;
    left: 90px;
    top: 180px;
    animation: 3s linear infinite running rot;
  }
  .monetka9 {
    position: absolute;
    left: 70px;
    top: px;
    animation: 3s linear infinite running rot;
  }
  .monetka10 {
    position: absolute;
    left: 120px;
    top: 300px;
    animation: 3s linear infinite running rot;
  }
  .monetka11 {
    position: absolute;
    left: 420px;
    top: 400px;
    animation: 3s linear infinite running rot;
  }
  .monetka12 {
    position: absolute;
    left: 50px;
    top: 300px;
    animation: 5s linear infinite running rot;
  }
  .footer {
    background-color: #000;
    position: relative;
    top: 3120px;
    left: px;
    color: #FBCF32;
    width: 740px;
    height: 184px;
    padding-top: 120px;
    padding-left: 23px;
    display: flex;
    justify-content: space-between;
  }
  .foot1 {
    font-size: 25px;
  }
  .foot2 {
    font-size: 60px;
    position: relative;
    top: -60px;
  }
}
@media (min-width:0px) and (max-width:414px) {
  .bandit {
    display: none;
  }
  .bandit1920 {
    display: none;
  }
  .bandit1366 {
    display: none;
  }
  .bandit1024 {
    display: none;
  }
  .bandit768 {
    display: none;
  }
  .slots {
    display: none;
  }
  .slots2 {
    display: none;
  }
  .slots3 {
    display: none;
  }
  .slots4 {
    display: none;
  }
  .masti {
    display: none;
  }
  .masti2 {
    display: none;
  }
  .bandit414 {
    display: block;
    position: absolute;
    top: -30px;
    left: 14px;
  }
  .container{
    background: #000000;
    height: 339px;
    width: 414px;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    margin-top: -60px;
    margin-left: px;
    border-radius: 0px;
  }
  .p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    animation: lin 5s alternate-reverse infinite;
  }
  .p1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    animation: lin2 5s alternate-reverse infinite;
  }
  .row{
    width: 414px;
    height: 339px;
    text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
    vertical-align: middle;
    padding: absolute;
    top: 100px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
  }
  .stars{
    width: 269.09px;
    height: 77.75px;
    position: relative;
    left: 73px;
    top: -260px;
    display: flex;
    justify-content: center;
    background: url('../images/stars768.svg');
    background-size: auto 100%;
    animation: stars .5s steps(1) infinite;
    animation-play-state: running;
  }
  @keyframes stars {
    50%{background-position: 268px ;}
    100%{background-position: 0px ;}
  }
  .slots5 {
    display: none;
  }
  .slots6 {
    display: block;
  }
  .clock{
    width: 127px;
    height: 1335px;
    position: absolute;
    top: 210px;
    margin-top: -105px;
    margin-left: 20px;
    border-color: 0px;
    overflow: hidden;
  }
  .cl-el{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
    position: relative;
  }

  .mn{
    width: 100%;
    line-height: 100px;
    position: relative;
    top: 0;
  }
  .sec-1{
    animation: sec 6s normal infinite;
  }
  .clock2{
    width: 127px;
    height: 1335px;
    position: absolute;
    top: 210px;
    margin-top: -105px;
    margin-left: 147px;
    border-color: 10px;
  }
  .sec-2{
    animation: sec2 6s normal infinite;
  }
  .cl-el2{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }

  .clock3{
    width: 127px;
    height: 1335px;
    position: absolute;
    top: 210px;
    margin-top: -105px;
    margin-left: 270px;
    border-color: 10px;
  }
  .cl-el3{
    width: ;
    height: 100%;
    display: inline-block;
    background: ;
    color: black;
    overflow: hidden;
  }
  .text1 {
    position: absolute;
    width: 266px;
    height: 45px;
    left: 14px;
    top: 1453px;
    font-size: 32px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 13px;
    text-align: center;
    padding-top: 10px;
    color: #FBCF32;
  }
  .text2 {
    position: absolute;
    width: 159px;
    height: 45px;
    left: 242px;
    top: 1507px;
    font-size: 32px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 13px;
    text-align: center;
    padding-top: 8px;
    color: #FBCF32;
  }
  .text3 {
    position: absolute;
    width: 110px;
    height: 45px;
    left: 291px;
    top: 1454px;
    font-size: 32px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 13px;
    text-align: center;
    padding-top: 8px;
    color: #FBCF32;
  }
  .but {
    position: absolute;
    left: 63px;
    top: 1514px;
    background: url("../images/button414.svg");
    display: flex;
    width: 101.94px;
    height: 102.82px;
  }
  .but:hover {
    background-position: 102px 0px;
  }
  .masti {
    position: absolute;
    left: 60px;
    top: 1628px;
    display: flex;
    justify-content: space-between;
    width: 290px;
  }
  .masti2 {
    position: absolute;
    left: 60px;
    top: 1748.86px;
    display: flex;
    justify-content: space-between;
    width: 290px;
  }
  .buby {
    animation: 3s linear infinite running rot;
    width: 110px;
  }
  .rectangle {
    position: absolute;
    width: 348px;
    height: 48px;
    left: 37.89px;
    top: 1893.89px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 106px;
    overflow: hidden;
  }
  .monetki1 {
    width: 300px;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 60px;
    top: 1539px;
  }
  .monetka1 {
    position: absolute;
    left: 60px;
    top: 50px;
    animation: 3s linear infinite running rot;
  }
  .monetka2 {
    position: absolute;
    left: 0px;
    top: 200px;
    animation: 3s linear infinite running rot;
  }
  .monetka3 {
    position: absolute;
    left: 10px;
    top: 150px;
    animation: 3s linear infinite running rot;
  }
  .monetka4 {
    position: absolute;
    left: 20px;
    top: 100px;
    animation: 3s linear infinite running rot;
  }
  .monetka5 {
    position: absolute;
    left: 30px;
    top: 200px;
    animation: 3s linear infinite running rot;
  }
  .monetka6 {
    position: absolute;
    left: 60px;
    top: 185px;
    animation: 3s linear infinite running rot;
  }
  .monetka7 {
    position: absolute;
    left: rgb(255, 0, 0);px;
    top: 130px;
    animation: 3s linear infinite running rot;
  }
  .monetka8 {
    position: absolute;
    left: 90px;
    top: 180px;
    animation: 3s linear infinite running rot;
  }
  .monetka9 {
    position: absolute;
    left: 100px;
    top: px;
    animation: 3s linear infinite running rot;
  }
  .monetka10 {
    position: absolute;
    left: 120px;
    top: 300px;
    animation: 3s linear infinite running rot;
  }
  .monetka11 {
    position: absolute;
    left: 90px;
    top: 400px;
    animation: 3s linear infinite running rot;
  }
  .monetka12 {
    position: absolute;
    left: 50px;
    top: 300px;
    animation: 5s linear infinite running rot;
  }
  .footer {
    opacity: 100%;
    position: relative;
    top: 2000px;
    left: -8px;
    color: #FBCF32;
    width: 405px;
    height: 10px;
    padding-top: 120px;
    padding-left: 23px;
    display: flex;
    justify-content: space-between;
  }
  .foot1 {
    font-size: 17px;
  }
  .foot2 {
    font-size: 30px;
    position: relative;
    top: -20px;
  }
}
