@font-face {
  font-family: 'digitalnum';
  src:
    local('O'),
    url('../fonts/LCDNOVA.woff') format('woff'),
    url('../fonts/LCDNOVA.TTF'),
    url('../fonts/LCDNOVA.svg') format('svg');
}
@font-face {
  font-family:"digitalnum";
  src: url('../fonts/LCDNOVA.TTF');
}

@import url('https://allfont.ru/allfont.css?fonts=ds-crystal');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  background: #000000;
}
*{
  box-sizing: border-box;
}
@media (min-width:1366px) and (max-width:1440px) {
.container {
  display: block;
}
h1 {
  font-family: "digitalnum";
  font-size: 60px;
}
h2 {
  font-family: "digitalnum";
  font-size: 30px;
}
h3 {
  font-family: "digitalnum";
  font-size: 76px;
}
.stars{
  width: 790px;
  height: 228px;
  display: block;
  position: relative;
  top: -1435px;
  left: 325px;
  display: flex;
  justify-content: center;
  background: url('../images/stars.svg');
  background-size: auto 100%;
  animation: stars .5s steps(1) infinite;
  animation-play-state: running;
}
@keyframes stars {
    50%{background-position: 787.5px ;}
    100%{background-position: 0px ;}
  }
.container{
  background:  #000000;
  height: 339px;
  width: 1440px;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  margin-top: px;
  margin-left: px;
  border-radius: 0px;
}
.p{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  animation: lin 5s alternate-reverse infinite;
}
.p1{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  animation: lin2 5s alternate-reverse infinite;
}
.row{
  width: 1440px;
  height: 339px;
  text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
  vertical-align: middle;
  padding: absolute;
  top: 100px;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes lin {
  from { text-indent: -40%}
  to { text-indent: -100%}
}
@keyframes lin2 {
  from { text-indent: -100%}
  to { text-indent: -40%}
}
.bandit{
  display: block;
  position: absolute;
  width: 1389px;
  height: 1560px;
  top: -30px;
  margin-left: 26px;
}
.slots{
  position: relative;
}
.clock{
  width: 100px;
  height: 1240px;
  position: relative;
  top: 38px;
  margin-top: -100px;
  margin-left: 28px;
  border-color: 0px;
}
.cl-el{
  width: 234%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
  position: relative;
}

.mn{
  width: 100%;
  line-height: 100px;
  position: relative;
  top: 0;
}
.sec-1{
  animation: sec 6s normal infinite;
}
@keyframes sec {
  0%{ top: -300%;}
  25%{ top: %;}
  50%{ top: 0%}
  75%{ top: -30%;}
  90%{ top: 0%;}
  100%{ top: -300%;}
}
.clock2{
  width: 240px;
  height: 1241px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 257px;
  border-color: 10px;
}
.sec-2{
  animation: sec2 6s normal infinite;
}
.cl-el2{
  width: 240px;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}
@keyframes sec2 {
  0%{ top: -10%;}
  25%{ top: -60%;}
  50%{ top: -200%;}
  75%{ top: -30%;}
  100%{ top: -10%;}
}
.clock3{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 485px;
  border-color: 10px;
}
.cl-el3{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}

.clock4{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 710px;
  border-color: 10px;
}

.cl-el4{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}

.clock5{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 938px;
  border-color: 10px;
}

.cl-el5{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}
.clock6{
  width: 100px;
  height: 1240px;
  position: absolute;
  top: 210px;
  margin-top: -172px;
  margin-left: 1167px;
  border-color: 10px;
}
.cl-el6{
  width: 232%;
  height: 100%;
  display: inline-block;
  background: ;
  color: black;
  overflow: hidden;
}
.block1 {

}
.text1 {
  position: relative;
  top: -130px;
  left: 26px;
  width: 512px;
  height: 87px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;
  padding-top: 15px;
  color: #FBCF32;
}

.text2 {
  position: relative;
  top: -217px;
  left: 1095px;
  width: 318px;
  height: 87px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;
  padding-top: 15px;
  color: #FBCF32;
}
.text2:hover {
  color: #B60000;
  background-color: #ffffff;
}
.text1:hover {
  color: #B60000;
  background-color: #ffffff;
}
.text3:hover {
  color: #B60000;
  background-color: #ffffff;
}



.text3 {
  position: relative;
  top: -181px;
  left: 1225px;
  width: 189px;
  height: 80px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;
  padding-top: 13px;
  color: #FBCF32;
}
.masti {
  position: absolute;
  top: 1570px;
  margin-left: 630px;
  display: flex;
  justify-content: space-between;
  width: 370px;
}
.masti2 {
  position: absolute;
  top: 1710px;
  margin-left: 630px;
  display: flex;
  justify-content: space-between;
  width: 375px;
}
.buby:hover{
  transform: rotate(45deg);
  }
.buby {
  animation: 3s linear infinite running rot;
  width: 100px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.buby:hover {
  animation-play-state: paused;
}
.but {
  position: absolute;
  margin-left: 180px;
  top: 1680px;
  background: url("../images/button.svg");
  display: flex;
  width: 171px;
  height: 171px;
}
.but:hover {
  background-position: 170.8px 0px;
}
.buby:hover .but {
  animation-play-state: paused;
}

.rectangle {
  position: absolute;
  width: 1327px;
  height: 127px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 106px;
  left: 63px;
  top: 1880px;
  overflow: hidden;
}
.monetki1 {
  width: 1200px;
  height: 500px;
  overflow: hidden;
  position: relative;
  left: 200px;
  top: -76px;
}
.padenie {
  width: 174px;
  height: 174px;
  position: absolute;
  top: -100px;
  animation: padenie 9s normal infinite ;
}
.monetka1 {
  position: absolute;
  left: 60px;
  top: 50px;
  animation: 3s linear infinite running rot;
}
.monetka2 {
  position: absolute;
  left: 200px;
  top: 200px;
  animation: 3s linear infinite running rot;
}
.monetka3 {
  position: absolute;
  left: 300px;
  top: 150px;
  animation: 3s linear infinite running rot;
}
.monetka4 {
  position: absolute;
  left: 400px;
  top: 100px;
  animation: 3s linear infinite running rot;
}
.monetka5 {
  position: absolute;
  left: 900px;
  top: 200px;
  animation: 3s linear infinite running rot;
}
.monetka6 {
  position: absolute;
  left: 230px;
  top: 185px;
  animation: 3s linear infinite running rot;
}
.monetka7 {
  position: absolute;
  left: 680px;
  top: 300px;
  animation: 3s linear infinite running rot;
}
.monetka8 {
  position: absolute;
  left: 550px;
  top: 180px;
  animation: 3s linear infinite running rot;
}
.monetka9 {
  position: absolute;
  left: px;
  top: px;
  animation: 3s linear infinite running rot;
}
.monetka10 {
  position: absolute;
  left: 820px;
  top: 300px;
  animation: 3s linear infinite running rot;
}
.monetka11 {
  position: absolute;
  left: 650px;
  top: 400px;
  animation: 3s linear infinite running rot;
}
.monetka12 {
  position: absolute;
  left: 720px;
  top: 300px;
  animation: 5s linear infinite running rot;
}

@keyframes padenie {
  0%{ top: -600px;}
  50%{ top: 300px;}
  100%{ top: 500px;}
}
.footer {
  background-color: #000;
  position: absolute;
  top: 2300px;
  left: px;
  color: #FBCF32;
  width: 1400px;
  height: 184px;
  margin-top: 24px;
  padding-top: 120px;
  padding-left: 23px;
  display: flex;
  justify-content: space-between;

}
.foot1 {
}
.foot2 {
  position: relative;
  top: -80px;
}
}
@media (min-width:1441px) and (max-width:1920px) {
.bandit {
  display: none;
}

}
